/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: 'wght' var(--text-weight);
  background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
  repeating-linear-gradient(to top, #d3d3d3 0 2px, transparent 2px 4px),
  linear-gradient(to bottom, #e7e7e7, #1a1a1a);
}

.header {
  padding: 100px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: var(--accent-font-family);
}

.heading {
  background-color: #fff;
  width: min(100%, clamp(375px, 261.97px + 30.14vw, 696px));
  height: clamp(368px, 377.46px + -0.66vw, 375px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: solid 2px #000;
  text-transform: uppercase;
}

.title {
  font-size: clamp(49px, 43.37px + 1.50vw, 65px);
}

.title-text {
  font-size: clamp(14px, 10.83px + 0.85vw, 23px);
}

.card {
  width: clamp(375px, 261.97px + 30.14vw, 696px);
  margin: 0 auto 50px;
  background-color: #fff;
  border: solid 2px #000;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.card-header {
  font-size: 18px;
  margin: 3px auto 3px 10px;
}

.card-text {
  line-height: 1.17;
  margin: 27px 25px 0;
}

.buttons {
  align-self: end;
  display: flex;
  gap: 4px;
  margin: 25px;
  align-items: center;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  height: 38px;
  outline: solid 2px transparent;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: solid 2px #000;
}

.card__like-button {
  outline: solid 1px #000;
  background-color: transparent;
  width: 130px;
  height: 38px;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.card__like-button::before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  transform: translate(-100%);
  transition: transform 0.5s ease-in-out;
  position: absolute;
}

.card__like-button:hover::before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  display: block;
  transform: translate(0);
}

.card__like-button:hover .button__text {
  mix-blend-mode: difference;
}

.button__text {
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 0.9;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  mix-blend-mode: difference;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px #000;
  transition: box-shadow 0.3s ease;
}

.card-image {
  position: relative;
  overflow: hidden;
  border-bottom: solid 2px #000;
  border-top: solid 2px #000;
  aspect-ratio: 1;
}

.image {
  width: 100%;
}

.image-grayscale {
  filter: grayscale(70%);
}

.image-contrast {
  filter: saturate(250%);
}

.image-sepia {
  filter: sepia(0.9);
}

.image-invert {
  filter: invert(100%) contrast(60%);
}

.image-hue-rotate {
  filter: hue-rotate(20deg);
}

.image-blur {
  filter: blur(17px);
}

.image-invert-blur {
  filter: hue-rotate(85deg) blur(2px) contrast(70%) sepia(0.2);
}

.watermark {
  position: absolute;
  right: 0;
  padding: 25px;
  z-index: 1;
  font-size: 14px;
  font-family: var(--accent-font-family);
  mix-blend-mode: hard-light;
  text-shadow:
  -1px 0 var(--watermark-stroke), 
  0 1px var(--watermark-stroke), 
  1px 0 var(--watermark-stroke), 
  0 -1px var(--watermark-stroke);
}

.save-button {
  width: clamp(306px, 295.79px + 2.72vw, 335px);
  height: 55px;
  margin: 0 auto 100px;
  display: block;
  background-color: #fff;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.button-content {
  display: inline-block;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.save-button .button__text {
  display: inline;
}

.save-button:focus {
  outline: none;
  box-shadow: 2px 2px #000;
  transition: box-shadow 0.3s ease;
}

.save-button::before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.5s ease-in-out;
  position: absolute;
}

.save-button:hover::before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  display: block;
  transform: scaleX(1);
}

.floppy-icon {
  margin-right: 8px;
  margin-top: 15px;
  transform: translate(39, 39);
  background-color: white;
  mix-blend-mode: multiply;
}

.save-button:hover .floppy-icon {
  mix-blend-mode: difference;
}

.dialog[open] {
  width: clamp(341px, 336.77px + 1.13vw, 353px);
  padding: 30px clamp(30px, 43.52px + -0.94vw, 40px);
  min-width: 341px;
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  grid-template-areas: 
    "svg text"
    "button button";
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__text {
  line-height: 1.5;
  text-transform: uppercase;
  align-self: center;
  grid-area: text;
}

.dialog-button {
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 0.9;
  background-color: transparent;
  width: 100%;
  height: 38px;
  display: block;
  grid-area: button;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.dialog__button-text {
  color: #fff;
  mix-blend-mode: difference;
  width: 100%;
  height: 100%;
  padding-top: 12.5px;
  display: inline-block;
}

.dialog-button:focus {
  outline: none;
  box-shadow: 2px 2px #000;
  transition: box-shadow 0.3s ease;
}

.dialog-button::before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.5s ease-in-out;
  position: absolute;
}

.dialog-button:hover::before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  transform: scaleX(1);
}

.dialog__floppy-icon {
  grid-area: svg;
  width: 39px;
  height: 39px;
  align-self: center;
}

.dialog__row__floppy-icon {
  transform: scale(calc(39/21));
}

@supports((text-stroke: 1px var(--watermark-stroke)) or (-webkit-text-stroke: 1px var(--watermark-stroke))) {
  .watermark {
    -webkit-text-stroke: 1px var(--watermark-stroke);
    text-stroke: 1px var(--watermark-stroke);
    text-shadow: none;
  }
} 

@media(width<=375.4px) {
  .heading {
    min-width: 100%;
    height: 327px;
  }
  .card {
    width: 100%;
  }
  .floppy-icon {
    margin: 15px auto 8px;
    display: block;
  }
  .save-button {
    height: 84px;
  }
  .dialog[open] {
    min-width: 341px;
  }
}